* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background: linear-gradient(to right, #ff7e5f, #feb47b);
}
.container-login { 
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-login {
    background-color: #fff;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-login h1 {
    margin-bottom: 20px;
    color: #333;
    text-align: center;
}

.card-login p {
    margin-bottom: 30px;
    color: #666;
    text-align: center;
    size: 14px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 8px;
    color: #333;
    font-weight: bold;
}

input {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f1f1f1;
}

button {
    padding: 10px;
    background-color: #ff7e5f;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #feb47b;
}
