* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

header {
    background-color: #02b7df;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
nav {
    background-color: #b3b3b3;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
main {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: stretch;
    padding: 0;
    height: 300px;
}
aside {
    flex: 1;
    background-color: #fbf96e;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    height: 300px;

}

.conteudo {
    flex: 2;
    background: #ec62e7;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    height: 300px;
}


footer {
    display: flex;
    background-color: #5bf972;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}

footer div {
    flex: 1;
    display: flex;
    background-color: #b0f8bb;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

/* Responsividade */
@media (max-width: 992px) {
    main {
        flex-direction: column;
    }

    aside {
        order: 3;
        width: 100%;
    }

    .conteudo {
        width: 100%;
    }
    footer {
        flex-wrap: wrap;
    }
    #parte1, #parte2{
        flex: 1 1 50%;
    }
    #parte3 {
        flex: 1 1 100%;
    } 
}

/* Media query para telas menores */
@media (max-width: 768px) {
    footer {
        flex-wrap: column;
    }
    #parte1, #parte2, #parte3{
        flex: 1 1 100%;
    }
}

