.container {
    width: 100%;
}

.box {
    width: 100px;
    height: 100px;
    margin: 10px;
    float: right;
}

.red {
    background-color: red;
}

.green {
    background-color: green;
}

.blue {
    background-color: blue;
}