* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: linear-gradient(to right, #ff7e5f, #feb47b);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background 0.5s ease;
    
}

.container {
    display: flex;
    gap: 30px;
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.card, .painel {
    background: #fff;
    padding: 30px;
    border-radius: 20px;
    width: 350px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.card h1 {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background: #f1f1f1;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    background: #ff7e5f;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s ease;
}

button:hover {
    background: #feb47b;
}

.dark{
  background:#121212;
}

.dark .card,
.dark .painel{
  background:#1f1f1f;
  color:white;
}

.painel p{
  margin-top:20px;
  font-size:18px;
}